img{height: 400px;
width:400px;
}

#user{height:20px;
width:40px;
}

#computer{height:20px;
width:40px;
}

body{background-color: #AAC2E3  ;}
img{background-color:#AAC2E3;}
h1{font-family: 'Asset', cursive;}
p{font-family: 'Yanone Kaffeesatz', sans-serif;
    color:black;
    font-weight: bold;
    font-size:20px;
}